<%
# Copyright 2014 Egbert van der Wal <egbert@assistobot.com>
#
# This file is part of redmine_planning
#
# redmine_planning is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# redmine_planning is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with redmine_planning. If not see <http://www.gnu.org/licenses/>.
%>
<% @gantt.view = self %>
<div class="contextual">
<% if !@query.new_record? && @query.editable_by?(User.current) %>
  <%= link_to l(:button_edit), edit_query_path(@query, :gantt => 1), :class => 'icon icon-edit' %>
  <%= delete_link query_path(@query, :gantt => 1) %>
<% end %>
</div>

<h2><%= @query.new_record? ? l(:label_planning) : h(@query.name) %></h2>

<%= form_tag({:controller => 'planning', :action => 'show',
             :project_id => @project, :month => params[:month],
             :year => params[:year]},
             :method => :get, :id => 'query_form') do %>
<%= hidden_field_tag 'set_filter', '1' %>
<fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
  <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
  <div style="<%= @query.new_record? ? "" : "display: none;" %>">
    <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
  </div>
</fieldset>
<p class="buttons">
<%= link_to_function l(:button_apply), '$("#query_form").submit()',
                     :class => 'icon icon-checked' %>
<%= link_to l(:button_clear), { :project_id => @project, :set_filter => 1 },
            :class => 'icon icon-reload' %>
<% if @query.new_record? && User.current.allowed_to?(:save_queries, @project, :global => true) %>
  <%= link_to_function l(:button_save),
                       "$('#query_form').attr('action', '#{ @project ? new_project_query_path(@project) : new_query_path }').submit();",
                       :class => 'icon icon-save' %>
<% end %>
</p>
<div id="redmine_planning_panel_1" style="width: 100%; text-align: center;">
<%= l(:planning_center_on) %> 
<%= select_day(@gantt.date_from, :prefix => "planning_focus_day", :discard_type => true) %>
<%= select_month(@gantt.month_from, :prefix => "planning_focus_month", :discard_type => true) %>
<%= select_year(@gantt.year_from, :prefix => "planning_focus_year", :discard_type => true) %>
</div>
<% end %>

<div id="redmine_planning_panel_2" style="width: 100%; text-align: center;">
    <button id="redmine_planning_back_button" class="ion-skip-backward" title="<%= l(:planning_back_16_days) %>"></button>
    <button id="redmine_planning_precedes_button" class="add_relation_button ion-arrow-right-c" data-type="precedes" title="<%= l(:planning_add_precedes) %>"></button>
    <button id="redmine_planning_blocks_button" class="add_relation_button ion-arrow-return-right" data-type="blocks" title="<%= l(:planning_add_blocks)%>"></button>
    <button id="redmine_planning_duplicates_button" class="add_relation_button ion-loop" data-type="duplicates" title="<%= l(:planning_add_duplicates)%>"></button>
    <button id="redmine_planning_cancel_button" class="ion-close-round" title="<%= l(:planning_delete_relation) %>"></button>
    <button id="redmine_planning_relates_button" class="add_relation_button ion-arrow-swap" data-type="relates" title="<%= l(:planning_add_relates) %>"></button>
    <button id="redmine_planning_copied_to_button" class="add_relation_buttoni ion-ios7-copy" data-type="copied_to" title="<%= l(:planning_add_copied_to) %>"></button>
    <button id="redmine_planning_forward_button" class="ion-skip-forward" title="<%= l(:planning_forward_16_days) %>"></button>
</div>
<div id="redmine_planning_chart">
</div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'planning', :plugin => 'redmine_planning' %>
    <%= stylesheet_link_tag 'ionicons', :plugin => 'redmine_planning' %>
    <%= javascript_include_tag 'raphael' %>
    <%= javascript_include_tag 'jquery-mousewheel', :plugin => 'redmine_planning' %>
    <% 
    options = {}
    options[:locale] = User.current.language unless User.current.language.blank?

    # Provide project and date format to Javascript
    plugin_settings = Setting.plugin_redmine_planning.clone
    plugin_settings[:project] = @project[:identifier]
    plugin_settings[:date_format] = Setting[:date_format]
    plugin_settings[:date_format] = ::I18n.t('date.formats.default', options) unless not plugin_settings[:date_format].blank?

    # Add month abbreviations and names
    plugin_settings[:month_names] = ::I18n.t('date.month_names', options)
    plugin_settings[:abbr_month_names] = ::I18n.t('date.abbr_month_names', options)

    # Add root path to Redmine
    plugin_settings[:root_url] = home_url

    # Add translations
    strings = [ "parent_task", "start_date", "due_date", "description", "leaf_task", "yes", "no", "project", "unavailable", "adding_relation_failed", "move_to", "confirm_remove_relation", "blocks_description", "precedes_description", "relates_description", "copied_to_description", "delete_relation", "cancel"]
    plugin_settings[:translations] = {}
    strings.each do |str|
        plugin_settings[:translations][str] = t(("planning_" + str).to_sym, options)
    end
    %>
    <%= javascript_tag "var redmine_planning_settings = " + JSON.generate(plugin_settings, quirks_mode: true) %>
    <%= javascript_include_tag 'planning', :plugin => 'redmine_planning' %>
<% end %>

